.nu {
    display: block;
    margin: 5px;
    padding: 5px;
    left: 5px;
    position: absolute;
    
  }
  
  .row {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  }
  
  .col-md-2 {
      height: 100%
  }
  .sidebar {
      width: 85px; 
      background-color: black; 
      color: white; 
      height: 100%; 
      top: 0;
      left: 0; 
      bottom: 0;
      position: fixed;
     
  }
  
  .list-group-item-action {
      color: red;
      background-color: white;
      width: 80px; 
  }
  
  .list-group-item:hover {
      background-color: #f5f5f5;
      color: red;
  }
  
  
  .list-group {
      position:absolute;
      left:0;
      top: 80px;
      width: 80px;
  }
  
  /*li a:active {
      background-color: white; 
      color: red; 
  }*/
  
  .list-group-item {
      width: 80px; 
      background-color: black; 
      color: white;
      text-align: center;
      left: 0;
      margin: 5px;
      padding: 5px;
      text-align: center; 
      border: none;
  }


.list-group-kanbas .list-group-item:hover a {
    color: red;
    background-color: white;
}

.list-group-kanbas .list-group-item .acc {
    color: red;
}
  
  .sidebar a {
      
      color: white;
      text-align: center;
      text-decoration: none;
      text-align: center;
      font-size: 14px;
  
     
  }

  /*profile nav css*/

  .sidebar-profile a {
      left: 100px;
      color: red;
      text-decoration: none;
      padding-top: 8px;
      padding-bottom: 8px;
  }


  .list-group-profile {
      width: 195px;
      left: 100px;
      position: absolute;
      background-color: white;
      
  }

  .list-group-profile .list-group-item {
      background-color: white;
      width: 195px;
      text-align: left;
  }

  .list-group-profile .list-group-item:hover a {
    color: black;
    width: 195px;
    text-align: left;
    border-left: 2px solid black;
    padding-left: 8px;
    
}

.list-group-item.active {
    background-color: white;
    color: red;
   
}

.profile-body{
    margin-left: 295px;
    width: 1000px;
    /*position: absolute;*/

}

.profile-text {
    color: black;
    left: 295px;
    width: 1000px;
    
}

.heading {
    margin-top: 15px;
}

.underline-text::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: grey; 
    margin-top: 15px; 
}


.container {
    display: flex;
    justify-content: space-between; 
    left: 295px;
    width: 1000px;
    
}

.edit-profile {
    background-color: lightgrey;
    color: black;
    margin-top: 10px;
}

.account {
    font-size: 100px;
    padding-top: 70px;
}

.name {
    font-size: 35px;
    justify-content: space-between;
    margin-top: 40px;
}

.sub {
    margin-top: 60px;
    font-size: 25px;
}

.profile-link {
    color: red;
    text-decoration: none;
}


/* edit profile page */

.profile-form-name {
    left: 295px;
    width: 500px;
    margin-top: 40px;
}

.profile-form-pronouns {
    left: 295px;
    width: 350px;
}

.profile-form-title {
    left: 295px;
    width: 500px;
}

.profile-form-bio {
    left: 295px;
    width: 500px;
    
}

.form-label {
    font-weight: 600;
}

.container-link {
    left: 20px;
    width: 500px;
    position: absolute;
}

.row-youtube{
    margin-top: 5px;
}

.col-youtube {
    font-weight: 600;
    width: 200px;
    padding-left: 20px;
    margin-right: 50px;

}

.row-input{
    margin-top: 10px;
}

.col-input{
    padding-left: 10px;
}

.container-input {
    left: 0px;
    width: 500px;
    position: relative;
}
.col-sm-2 {
    width: 20px;
    margin: 10px;
    
}

.btn-link {
    background-color: lightgray;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}

.row-save{
    margin-top: 5px;
    left: 200px
}

.col-save{
    padding-left: 10px;
    
}
.container-save {
    left: 0px;
    width: 500px;
    position: relative;
}
.btn-save {
    width: 150px;
    color: white;
    background-color: red;
    margin-top: 5px;
    margin-bottom: 20px;
 
}

.hr-line {
    width: 500px;
    left: 40px;
    margin-top: 130px;
}

.list-group-item.active a{
    background-color: white;
    color: red;
   
  }
  
  .list-group-item.active {
      background-color:white;
  }